<% layout('layouts/boilerplate')-%>

<div class="container form d-flex align-items-center">
  <div class="card bg-light form-card">
  	<% include ./partials/flash-messages %>
    <div class="row">
      <div class="col-md-5">
        <img 
          src="/images/sea.jpeg" 
          class="card-img" 
          alt="sea"
        >
        <div class="card-img-overlay d-flex flex-column justify-content-center text-center py-5">
        	<h1>Welcome Back</h1>
        	<p>It is nice to see you again</p>
    		</div>
      </div>
      <div class="col-md-7 d-flex align-items-center">
        <div class="card-body">
          <h1 class="card-title">Sign In</h1>
          <form action="/login" method="POST">
            <div class="form-group">
    	        <label for="username">Username</label>
    				  <input 
                type="text" 
                name="username" 
                id="username" 
                placeholder="eg. user1" 
                value="<%= username %>" 
                required class="form-control"
              >	
            </div>
            	
            <div class="form-group">
    				  <label for="password">Password</label>
    				  <input 
                type="password" 
                name="password" 
                placeholder="Password" 
                id="password" 
                class="form-control" 
                required
              >
    			  </div>
            <a href="/forgot-password">Forgot passsword?</a>

    			  <div class="my-3">
    				  <input 
                type="submit" 
                value="Sign In!" 
                class="btn btn-warning btn-block my-3">
    			  </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>