<% layout('layouts/boilerplate')-%>

<div class="container form d-flex align-items-center">
  	<div class="card bg-light form-card reset p-5 my-5">
  		<% include ../partials/flash-messages %>
		<h1>Forgot Password</h1>

		<form action="/forgot-password?_method=PUT" method="POST">
			<div class="form-group">
				<label for="email">Email</label>
				<input 
					type="email" 
					name="email" 
					id="email" 
					placeholder="Enter your email"
					class="form-control" 
					autofocus
				>
			</div>
			<div>
				<input 
					type="submit" 
					value="Reset Password"
					class="btn btn-success waves-effect waves-light my-3" 
				>
			</div>
		</form>

	</div>
</div>