<% layout('layouts/boilerplate')-%>
<h1>New post</h1>
<form method="POST" action="/posts" enctype="multipart/form-data">
	<input type="text" name="post[title]" placeholder="Title"><br>
	<input type="number" step=".01" name="post[price]" placeholder="Price"><br>
	<input type="file" accept="images/*" name="images" multiple placeholder="Image"><br>
	<textarea name="post[description]" placeholder="Description"></textarea><br>
	<input type="text" name="post[location]" placeholder="Location"><br>

	<input type="submit">
</form>